.ui-select
  select(required name='select-1' id='select-1').ui-select__select
    option.ui-select__option(disabled selected value='') Select option
    option.ui-select__option(value='1') Option 1
    option.ui-select__option(value='2') Option 2