html(lang="en")
  include parts/head

  body(data-theme='dark')
    include blocks/TheHeader

    .container
      main.main
        include parts/content

        .main__item
          h2.main__item-title Select
          include ui/select

        .main__item
          h2.main__item-title Checkbox
          include ui/checkbox

        .main__item
          h2.main__item-title Switcher
          include ui/switcher

        .main__item
          h2.main__item-title Range
          include ui/range

        .main__item
          h2.main__item-title Details
          include ui/details

        .main__item
          h2.main__item-title Popover
          include ui/popover

    include blocks/TheFooter
