doctype html
html(lang="en")
  head
    meta(charset='utf-8')
    meta(name='description' content='content')
    title Start Template
    meta(name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no")
    link(href="./css/main.css" rel="stylesheet")

  body(data-theme='dark')
    main.container
      include blocks/header.pug
      include parts/content.pug
      .row.align-center
        .w-50
          include ui/select.pug
        .w-50
          include ui/checkbox.pug
        .w-50
          include ui/switcher.pug
      include ui/range.pug
      include blocks/footer.pug

      .theme-toggle
        .theme-toggle__label Switch Theme Mode
        .row
            .w-50
                .theme-toggle__btn-box
                    button.theme-toggle__btn.active#light Light
                    button.theme-toggle__btn#dark Dark

    script(async, defer, src='./js/main.js')
