doctype html
html(lang="ru-RU")
  head
    title Start Template
    link(href="https://fonts.googleapis.com/css?family=PT+Mono|PT+Sans:400,700&display=swap&subset=cyrillic" rel="stylesheet")
    meta(name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no")
    link(href="./css/main.css" rel="stylesheet")

  body
    div.container
      header.header.text-center.mt-5
        include includes/block.pug

    script(async, defer, src='./js/main.js')
