head
    meta(charset='utf-8')
    meta(name='description' content='content')
    title Start Template
    link(rel="icon" href="./images/svg/favicon.svg")
    meta(name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no")
    link(href="./css/main.css" rel="stylesheet")