$font-regular: 'Play-Regular', Montserrat, Roboto, Arial, Tahoma, sans-serif
$font-bold: 'Play-Bold', Montserrat, Roboto, Arial, Tahoma, sans-serif

$color-white: #fff

$border-radius: .2em

$desktop: 1110px

$transition-base: all .2s ease