.ui-checkbox {
  padding-left: 1.4em;
  position: relative;
  cursor: pointer;

  &__input {
    @include visually-hidden;

    &:focus + .ui-checkbox__box {
      border-color: var(--text-color);
    }

    &:checked + .ui-checkbox__box {
      border-color: var(--text-color);
      background-color: var(--text-color);
      background-image: url('../images/svg/check.svg');
      background-repeat: no-repeat;
      background-position: center;

      @media screen and (prefers-color-scheme: dark) {
        border-color: var(--light-color);
        background-color: var(--dark-color);
      }
    }
  }

  &__box {
    position: absolute;
    top: 0.1em;
    width: 1.2em;
    height: 1.2em;
    border-radius: var(--border-radius);
    background-color: var(--background-color);
    border: 1.5px solid var(--text-color);
    margin-left: -1.4em;
    transition: background-color 0.2s ease;
  }

  &__label {
    line-height: 26px;
    user-select: none;
  }
}
