.ui-select {
  color: var(--text-color);

  &__select {
    appearance: none;
    outline: none;
    padding: 11px 16px;
    background-color: var(--background-color);
    border: 1px solid var(--text-color);
    border-radius: var(--border-radius);
    width: 100%;

    &:focus {
      border: 1px solid var(--text-color);
    }

    & option:not(:first-of-type) {
      color: var(--text-color);
      opacity: 0.5;
    }
  }
}
